/* Global */

body {
    font-family: 'Raleway',Arial,serif;
    margin:0;
}

#container {
    width: 98%;
    max-width: 1440px;
    margin:auto;
}

@font-face {
    font-family: Raleway;
    src:url('Charset/static/Raleway-Black.ttf') format('ttf');
}

a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}

/* Partie Header */

/* nav et logo */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}


.nav{
    padding-top:0;
    display: flex;
    align-items: center;
}
.nav a{
    padding: 30px 15px;
    text-align: center;
    color: black;
    border-top:3px solid transparent ;
}

.nav a:hover{
    margin:0;
    padding-top: 30px;
    color: #0065FC;
    border-top:3px solid #0065FC;
}

/* titres et sous titres*/

.title_h1{
    font-size: 22px;
    margin: 10px 0;
}

.subtitle{
    margin:3px 0 ;
}

.title_h2{
    font-size: 18px;
    margin:3px 0;
}

/* Recherche */

.research{
    display: flex;
    width: 400px;
    height: 40px;
    margin:15px 0;
}

.location_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.research_button{
    width: 125px;
    height: auto;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.research_button_icon{
    display: none;
}

.research_bar{
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
/* filtres */

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.filters h2{
    margin-right: 16px;
}
.filters ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.filters li{
    height: 40px;
    list-style: none;
    border: solid #F2F2F2;
    border-radius: 20px;
    padding-right: 10px;
    margin:7px 15px 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters li:hover{
    background-color: #0065FC;
    color:white;
    cursor: pointer;

}
.filters i{
    color:#0065FC ;
    background-color: #DEEBFF;
    width: 45px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-5px)
}

/* informations */

.info i{
    padding:7px 11px;
    color: #0065FC;
    border:#DEEBFF 1px solid;
    border-radius: 50px;
}

.info p{
    display: inline;
    padding-left: 10px;
}
/* Partie Main */
/* Content */
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 30px 0;
}

.host a{
    width: 100%;
    max-width: 250px;
    margin:13px;
}
.popular a{
    width: 100%;
    max-width: 356px;
}

main .title_h2{
    padding: 0 5px;
}

main .subtitle{
    padding: 0 5px;}

.stars{
    color: #0065FC;
    padding: 0 5px;
    margin: 3px 0;
}
.hostingMainCardGradeIconEmpty{
    color: #F2F2F2;
}
/* hebergements */

.host{
    padding: 15px;
    margin: 10px 20px 10px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards_a{  
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_a{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:3px;
    border-radius: 15px;
}

.card_a:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.card_a img{
    max-width: 250px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
#more{
    margin:20px 0;
    cursor: pointer;
}
/* populaires */

.popular{
    padding: 15px;
    margin:10px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.title_pop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_pop i{
    font-size: 20px;
}
.cards_b{
    display: flex;
    flex-direction: column;
}
.card_b{
    background-color: white;
    padding:3px;
    border-radius: 15px;
    display: flex;
    margin: 10px 0;
}

.card_b:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.card_b img{
    width:100px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.popular_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Activités */

.cards_c{
    margin-bottom: 40px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr 0.5fr; 
    gap: 40px 40px;
    grid-template-areas: 
      "article_1 article_2 article_4 article_5"
      "article_1 article_2 article_4 article_6"
      "article_1 article_3 article_4 article_6";
}
#article_1 { grid-area: article_1;}
#article_2 { grid-area: article_2;}
#article_3 { grid-area: article_3;}
#article_4 { grid-area: article_4;}
#article_5 { grid-area: article_5;}
#article_6 { grid-area: article_6;}

.card_c:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.card_c{
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow:5px 5px 15px 5px #F2F2F2;
}

.card_c img{
    flex: 1 1 auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}

.activity_description{
    flex: 1 0 50px;
    border-radius: 0 0 20px 20px;
}

.activity_description h2{
    margin: revert;
}
/* Footer */

footer{
    background:#F2F2F2;
    height: 200px;
    display: flex;
}

.credit{
    width: 30%;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.credit h2{
    margin: 10px 0;
}

.credit a{
    margin:5px 0;
}


/* Media Queries */
/* Media adaptation content à 1439px */
@media all and (max-width: 1439px){

    .popular{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .popular a{
        margin:5px;
    }
    .cards_b{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card_b{
        width: 100%;
        max-width: 350px;
    }
    .host{
        width:100%;
        margin:10px 0;
    }
    .host a{
        max-width: 300px;
    }
    .cards_a{
        width: 100%;
        max-width: 1300px;
    }
    .card_a{
        max-width: 300px;
    }
    .card_a img{
        width: 100%;
        max-width: 300px;
    }
    .host_description{
        width: 100%;
        max-width: 300px;
    }
}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 992px){



}

/* Small devices (mobiles, 768px and down) */
@media all and (max-width: 768px){
/* navbar column */
.logo{
    object-position: 33px;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/* effets nav */
.nav{
    width: 100%;
    justify-content: space-around;
}
.nav a{
    width: 100%;
    padding-bottom: 30px;
    border-bottom:3px solid #F2F2F2;
}

.nav a:hover{
    padding-bottom: 30px;
    border-top: none;
    border-bottom:3px solid #0065FC;
}

/* icon recherche */
.research{
    width: 100%;
    justify-content: center;
}
.research_button{
    display: none;
}
.research_button_icon{
    transform: translate(-7px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border-radius: 10px;
    color:white;
    width: 50px;
    cursor: pointer;
}

/* populaires */
.popular{
    border-radius: 0px;
}

/* Hebergements */
.host{
    background-color: white;
    margin:10px 0;
}
.card_a{
    width: 100%;
    max-width: 356px;
    box-shadow:5px 5px 15px 5px #F2F2F2;
}
.card_a img{
    width: 100%;
    max-width: 356px;
    max-height: 100px;
}

/* Activities */
.activities{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.cards_c{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
}
#article_1{
    width: 100%;
    max-width: 310px;
}
#article_2{
    width: 100%;
    max-width: 310px;
}
#article_3{
    width: 100%;
    max-width: 310px;
}
#article_4{
    width: 100%;
    max-width: 310px;
}
#article_5{
    width: 100%;
    max-width: 310px;
}
#article_6{
    width: 100%;
    max-width: 310px;
}

.card_c{
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-direction: column;
}
.card_c img{
    max-height: 100px;
    border-radius:15px 15px 0 0;
}
.activity_description{
    width: 100%;
    padding: 10px 0;
}


/* footer */
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.credit{
    width: auto;
    margin-left: 15%;
}
}